$default-font-family: 'Raleway', sans-serif;
$black: black;
$white: white;
$near-white: #ecf0f1;
$light-gray: #bdc3c7;
$mid-gray: #95a5a6;
$light-green: #2ecc71;
$dark-blue: #34495e;
$breakpoint-mobile: 680px;
$breakpoint-landscape-height: 400px;

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  @media only screen and (max-device-width: $breakpoint-mobile){
    font-size: 32px;
  }
}

body {
  font-family: $default-font-family;
}

input {
  background: $white;
  border: 0;
  border-bottom: 3px solid $mid-gray;
  color: $dark-blue;
  font-family: $default-font-family;
  font-size: 2rem;
  outline: none;
  width: 100%;
  padding: .8rem .5rem;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -o-transition: .5s all ease;
  transition: .5s all ease;
  &:focus {
    border-bottom-color: $light-green;
  }
}

.twitter-typeahead {
  width: 100%;

  .tt-menu {
    overflow: auto;
    width: 100%;
    .tt-dataset {
      background: $white;
      width: 100%;
    }
  }


  .category {
    background: $near-white;
    border-bottom: 1px solid $light-gray;
    color: $dark-blue;
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
    padding: .8rem .5rem;
  }

  a.tt-selectable {
    color: $dark-blue;
    display: block;
    padding: 1.7rem .6rem .6rem .5rem;
    text-decoration: none;

    &:not(:last-of-type){
      border-bottom: 1px solid $dark-blue;
    }

    &.tt-cursor {
      padding-right: .4rem;
      border-right: .2rem solid $light-green;
      @media only screen and (max-device-width: $breakpoint-mobile){
        padding-right: .6rem;
        border-right: none;
      }
    }

    .product-image {
      display: inline-block;
      float: left;
      height: 6.8rem;
      width: 6.8rem;
      margin-right: 1.25rem;

      img {
        display: block;
        max-height: 6.8rem;
        max-width: 6.8rem;
        margin: 0 auto;
      }
    }

    .results {
      overflow: hidden; // Triggers block formatting context
    }

    .result-section {
      display: block;
      margin-bottom: .5rem;

      em {
        font-style: italic;
        margin-right: .1rem; // To keep italics from colliding with other text
      }

      &.name {
        font-size: 1.6rem;
        font-weight: 600;

        @media only screen and (max-device-width: $breakpoint-mobile){
          font-size: 1.2rem;
          margin-bottom: .5rem;
        }
      }

      &.details {
        margin-bottom: .8rem;

        .price {
          color: $light-green;
        }

        @media only screen and (max-device-width: $breakpoint-mobile){
          font-size: .4rem;
          margin-bottom: 1rem;
        }
      }

      &.description {
        font-size: .8rem;
        line-height: 1.3;
        @media only screen and (max-device-width: $breakpoint-mobile){
          font-size: .35rem;
        }
      }
    }
  }

}

.direction {
  color: $mid-gray;
  font-family: $default-font-family;
  font-size: 2.6rem;
  font-weight: 200;
  line-height: 1.2;
  margin: 10rem auto 0;
  width: 50%;

  @media only screen and (max-width: $breakpoint-mobile) {
    font-size: 1.5rem;
    margin-top: 5rem;
  }

  @media only screen and (max-device-height: $breakpoint-landscape-height) {
    font-size: 1rem;
    margin-top: 1.8rem;
  }
}
